.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.case {
    width: 270px;
    height: 34px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    margin: 0 48px 12px 0;
    background: #C4C4C4;
}

.inactive {
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background: rgba(45, 155, 240, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
}