.case {
    width: 103px;
    height: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0 8px 0 0;
}