.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 71.5%;
    margin-top: 40px;
}

.header {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #15191D;
}

.triangleImg {
    margin-top: 40px;
    background-image: url("../img/resultScreenTriangle.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 512px;
    background-position: center;
}

.description {
    margin-top: 30px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #44474A;
}

.casesWrapper {

}

.casesHeader {
    margin-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #15191D;
}

.casesDescription {
    margin-top: 27px;

}

.caseList {
    margin-top: 5px;
}

.singleCase {
    margin-top: 20px;
}

.number {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #44474A;
}

.case {
    margin-top: 15px;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #44474A;
}

.bugsWrapper {

}

.footerImg {
    background-image: url("../img/funnyPic.png");
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.action {

}

.btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    width: 190px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #DD2629;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 70px 0 250px 0;
}

.innerBtn {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #DD2629;
    flex: none;
    order: 1;
    flex-grow: 0;
}
